<div class="container mt-5 mb-5">

<h1 class="text-center">About</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, laudantium harum odio ab illo cupiditate facilis, accusamus voluptate distinctio officiis pariatur veniam recusandae maxime molestiae? Iusto impedit architecto eum eaque.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ea quidem laudantium eum, voluptatum omnis voluptates! Cumque quia atque saepe itaque omnis doloribus reprehenderit! Labore odit similique aliquam debitis dignissimos?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti commodi ipsa beatae ipsum ad, nesciunt esse ducimus doloribus nulla adipisci quibusdam nisi voluptatem odio. Eum, quaerat unde. Aspernatur, velit animi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A eveniet illum eligendi excepturi necessitatibus numquam ut id alias officia quis provident fuga accusamus, officiis modi deleniti? Vitae reiciendis obcaecati odio?
        <br/>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim voluptates asperiores doloribus consequuntur illo aliquam laborum, fuga quam eligendi provident perspiciatis et quo nesciunt, eum, sit iusto iste sapiente aliquid.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque aspernatur natus deserunt, veniam perspiciatis inventore amet doloribus pariatur libero dolor expedita recusandae possimus ullam laudantium, cum nostrum. Vitae, tenetur in?
        <br/>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. In iure esse, sint doloribus aperiam eos nesciunt consectetur quae dolorem placeat at fuga cupiditate omnis libero ipsam nulla veniam hic culpa!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam error, nesciunt ipsa suscipit iusto vero dicta eaque asperiores animi maiores a in praesentium sed nemo assumenda inventore veritatis cupiditate voluptatem.
        <br/>
    </p>
</div>